// flexbox container
@mixin flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// box-shadows
@mixin shadow (
    $offset-x: 3px,
    $offset-y: 2px,
    $blur-radius: 3px,
    $spread-radius: 2px,
    $color: rgba(0, 0, 0, 0.2)) {
        box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
    }

@mixin shadow-small {
    @include shadow(1px, 1px, 3px, 1px, rgba(0, 0, 0, 0.1))
}

// button
@mixin button($bg: --primary-color-default) {
    background-color: var($bg);
    border: none;
    padding: 0.2vw 0.5vw;
    border-radius: 5px;

    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color-lighter);
    }
}
