// to be extended and/or modified for each project
html {
    &[data-theme="one"] {
        --color-1: rgb(207, 92, 92);
        --color-2: rgb(211, 123, 123);
        --color-3: rgb(104, 23, 23);
    
        --color-4: rgb(98, 145, 44);
        --color-5: rgb(55, 175, 31);
        --color-6: rgb(24, 138, 67);
    
        --grey-1: rgb(207, 207, 207);
        --grey-2: rgb(158, 158, 158);
        --grey-3: rgb(92, 92, 92);
    
        --fg-1: rgb(12, 12, 12);
        --fg-2: rgb(32, 32, 32);
    
        --bg-1: rgb(241, 241, 241);
        --bg-2: rgb(223, 223, 223);    
    }

    &[data-theme="two"] {
        --color-1: rgb(53, 90, 146);
        --color-2: rgb(88, 143, 194);
        --color-3: rgb(60, 40, 153);
    
        --color-4: rgb(172, 173, 98);
        --color-5: rgb(119, 158, 29);
        --color-6: rgb(179, 176, 48);
    
        --grey-1: rgb(207, 207, 207);
        --grey-2: rgb(158, 158, 158);
        --grey-3: rgb(92, 92, 92);
    
        --fg-1: rgb(245, 245, 245);
        --fg-2: rgb(221, 221, 221);
    
        --bg-1: rgb(14, 14, 14);
        --bg-2: rgb(32, 32, 32);    
    }
}
