// to be extended and/or modified for each project
html {

  &[data-theme="one"] {
    --color-1: rgb(218, 151, 151);
    --color-2: rgb(189, 88, 88);
    --color-3: rgb(100, 22, 22);

    --color-4: rgb(122, 194, 122);
    --color-5: rgb(82, 156, 67);
    --color-6: rgb(23, 107, 16);

    --grey-1: rgb(207, 207, 207);
    --grey-2: rgb(158, 158, 158);
    --grey-3: rgb(92, 92, 92);

    --fg-1: rgb(12, 12, 12);
    --fg-2: rgb(32, 32, 32);

    --bg-1: rgb(241, 241, 241);
    --bg-2: rgb(223, 223, 223);
  }

  &[data-theme="two"] {
    --color-1: rgb(124, 157, 212);
    --color-2: rgb(79, 101, 163);
    --color-3: rgb(46, 60, 136);

    --color-4: rgb(202, 178, 132);
    --color-5: rgb(189, 153, 76);
    --color-6: rgb(116, 97, 16);

    --grey-1: rgb(207, 207, 207);
    --grey-2: rgb(158, 158, 158);
    --grey-3: rgb(92, 92, 92);

    --fg-1: rgb(245, 245, 245);
    --fg-2: rgb(221, 221, 221);

    --bg-1: rgb(14, 14, 14);
    --bg-2: rgb(32, 32, 32);
  }
}
